In [1]:
!pip install catboost
!pip install scikit-learn

import catboost as cb
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, train_test_split
import pandas as pd
import numpy as np
from catboost import CatBoostRegressor, Pool

pd.set_option("mode.copy_on_write", True)

In [2]:
df = pd.read_csv("../data/InsNova_data_2023_train.csv")
df.head()

,id,veh_value,exposure,veh_body,veh_age,gender,area,agecat,engine_type,max_power,...,marital_status,e_bill,time_of_week_driven,time_driven,trm_len,credit_score,high_education_ind,clm,numclaims,claimcst0
0,1,0.77,0.444504,SEDAN,4,M,D,3,petrol,147,...,S,1,weekday,6pm - 12am,6,640.448137,1.0,0,0,0.0
1,2,4.45,0.562183,STNWG,1,M,A,3,petrol,158,...,S,1,weekday,6am - 12pm,12,683.749691,0.0,0,0,0.0
2,3,4.90,0.465244,STNWG,1,F,A,3,petrol,159,...,M,1,weekday,6pm - 12am,6,653.656117,1.0,0,0,0.0
3,4,0.48,0.271039,PANVN,4,M,A,4,petrol,80,...,S,1,weekday,12pm - 6pm,12,642.574671,0.0,0,0,0.0
4,5,0.85,0.141624,SEDAN,4,F,A,5,petrol,126,...,S,0,weekday,6am - 12pm,6,647.175035,0.0,0,0,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22619 entries, 0 to 22618
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     22619 non-null  int64
 1   veh_value              22619 non-null  float64
 2   exposure               22619 non-null  float64
 3   veh_body               22619 non-null  object
 4   veh_age                22619 non-null  int64
 5   gender                 22619 non-null  object
 6   area                   22619 non-null  object
 7   agecat                 22619 non-null  int64
 8   engine_type            22619 non-null  object
 9   max_power              22619 non-null  int64
 10  driving_history_score  22619 non-null  float64
 11  veh_color              22619 non-null  object
 12  marital_status         22619 non-null  object
 13  e_bill                 22619 non-null  int64
 14  time_of_week_driven    22619 non-null  object
 15  time_driven            22619 non-null  object
 16  trm_len                22619 non-null  int64
 17  credit_score           22619 non-null  float64
 18  high_education_ind     22619 non-null  float64
 19  clm                    22619 non-null  int64
 20  numclaims              22619 non-null  int64
 21  claimcst0              22619 non-null  float64
dtypes: float64(6), int64(8), object(8)
memory usage: 3.8+ MB

In [4]:
df["high_education_ind"] = df["high_education_ind"].astype("int64")
df["high_education_ind"] = df["high_education_ind"].astype("category")

In [5]:
categorical_features = [
    "veh_body",
    "veh_age",
    "gender",
    "area",
    "agecat",
    "engine_type",
    "veh_color",
    "marital_status",
    "time_of_week_driven",
    "time_driven",
    "e_bill",
    "trm_len",
    "high_education_ind",
]

In [6]:
for col in categorical_features:
    df[col] = df[col].astype("category")

In [ ]:
X = df.drop(
    columns=["id", "clm", "numclaims", "claimcst0"]
)  # assuming 'claimcst0' is your target variable
y = df["claimcst0"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [ ]:
cat_model = cb.CatBoostRegressor()

In [ ]:
param_grid = {
    "depth": [6, 8, 10],
    "learning_rate": [0.01, 0.05, 0.1],
    "iterations": [500, 1000, 1500],
}

In [ ]:
# Using Grid Search
grid_search = GridSearchCV(
    estimator=cat_model, param_grid=param_grid, cv=5, scoring="neg_mean_squared_error"
)

# Or using Random Search
# random_search = RandomizedSearchCV(estimator=cat_model, param_distributions=param_grid, cv=5, scoring='neg_mean_squared_error', n_iter=50, random_state=42)

# Fit the model
grid_search.fit(X_train, y_train)

In [ ]:
best_params = grid_search.best_params_
print("Best parameters:", best_params)

# Evaluate the best model
best_model = grid_search.best_estimator_
best_model.score(X_test, y_test)  # You can use other metrics as needed

In [7]:
x_train = df.drop(columns=["id", "clm", "numclaims", "claimcst0"])
y_train = df["claimcst0"]

In [8]:
train_data = Pool(
    data=x_train,
    label=y_train,
    cat_features=[
        "veh_body",
        "veh_age",
        "gender",
        "area",
        "agecat",
        "engine_type",
        "veh_color",
        "marital_status",
        "time_of_week_driven",
        "time_driven",
        "e_bill",
        "trm_len",
        "high_education_ind",
    ],
)

In [9]:
# Define the model parameters
model = CatBoostRegressor(
    iterations=100, depth=10, learning_rate=0.1, loss_function="RMSE"
)

# Train the regression model
model.fit(train_data)

0:	learn: 1270.4405793	total: 63.6ms	remaining: 6.3s
1:	learn: 1270.3172622	total: 67.3ms	remaining: 3.29s
2:	learn: 1268.8251059	total: 77.1ms	remaining: 2.49s
3:	learn: 1259.2156437	total: 86.2ms	remaining: 2.07s
4:	learn: 1254.4907981	total: 93.3ms	remaining: 1.77s
5:	learn: 1246.0982852	total: 100ms	remaining: 1.57s
6:	learn: 1241.0291153	total: 107ms	remaining: 1.42s
7:	learn: 1240.9475727	total: 110ms	remaining: 1.27s
8:	learn: 1238.8761207	total: 116ms	remaining: 1.18s
9:	learn: 1238.8479813	total: 119ms	remaining: 1.07s
10:	learn: 1238.7899304	total: 125ms	remaining: 1.01s
11:	learn: 1238.7350598	total: 132ms	remaining: 971ms
12:	learn: 1238.7278472	total: 137ms	remaining: 917ms
13:	learn: 1238.6997724	total: 140ms	remaining: 858ms
14:	learn: 1236.3011341	total: 147ms	remaining: 831ms
15:	learn: 1234.8186382	total: 153ms	remaining: 805ms
16:	learn: 1234.7859035	total: 158ms	remaining: 773ms
17:	learn: 1230.8012552	total: 163ms	remaining: 741ms
18:	learn: 1230.7836751	total: 166ms	remaining: 707ms
19:	learn: 1230.7761946	total: 169ms	remaining: 675ms
20:	learn: 1230.1299670	total: 176ms	remaining: 662ms
21:	learn: 1230.1137637	total: 178ms	remaining: 631ms
22:	learn: 1230.1031900	total: 180ms	remaining: 603ms
23:	learn: 1230.0924653	total: 182ms	remaining: 576ms
24:	learn: 1230.0789498	total: 184ms	remaining: 551ms
25:	learn: 1230.0591200	total: 185ms	remaining: 527ms
26:	learn: 1229.9954073	total: 190ms	remaining: 513ms
27:	learn: 1229.9660348	total: 192ms	remaining: 495ms
28:	learn: 1229.9399550	total: 193ms	remaining: 474ms
29:	learn: 1229.9394608	total: 196ms	remaining: 456ms
30:	learn: 1226.7039531	total: 200ms	remaining: 446ms
31:	learn: 1226.6936133	total: 204ms	remaining: 434ms
32:	learn: 1226.6831901	total: 205ms	remaining: 417ms
33:	learn: 1225.3488992	total: 208ms	remaining: 403ms
34:	learn: 1223.0025218	total: 214ms	remaining: 398ms
35:	learn: 1223.0016618	total: 217ms	remaining: 386ms
36:	learn: 1221.0259018	total: 221ms	remaining: 377ms
37:	learn: 1220.9918887	total: 226ms	remaining: 368ms
38:	learn: 1220.9915095	total: 228ms	remaining: 356ms
39:	learn: 1220.9856176	total: 230ms	remaining: 344ms
40:	learn: 1220.9675748	total: 234ms	remaining: 337ms
41:	learn: 1220.9396901	total: 237ms	remaining: 327ms
42:	learn: 1220.9393877	total: 239ms	remaining: 317ms
43:	learn: 1218.7156783	total: 245ms	remaining: 312ms
44:	learn: 1218.7030858	total: 247ms	remaining: 302ms
45:	learn: 1218.6529451	total: 248ms	remaining: 292ms
46:	learn: 1216.7645933	total: 252ms	remaining: 284ms
47:	learn: 1214.8808658	total: 259ms	remaining: 280ms
48:	learn: 1214.8412551	total: 261ms	remaining: 272ms
49:	learn: 1214.8354396	total: 265ms	remaining: 265ms
50:	learn: 1212.6577898	total: 271ms	remaining: 260ms
51:	learn: 1210.3392682	total: 274ms	remaining: 253ms
52:	learn: 1207.4897408	total: 279ms	remaining: 247ms
53:	learn: 1206.4291800	total: 285ms	remaining: 243ms
54:	learn: 1206.4220410	total: 287ms	remaining: 235ms
55:	learn: 1205.7780646	total: 291ms	remaining: 229ms
56:	learn: 1204.1138876	total: 297ms	remaining: 224ms
57:	learn: 1201.7104795	total: 304ms	remaining: 220ms
58:	learn: 1201.6950873	total: 309ms	remaining: 215ms
59:	learn: 1200.6062476	total: 313ms	remaining: 209ms
60:	learn: 1200.5996772	total: 316ms	remaining: 202ms
61:	learn: 1197.9201462	total: 322ms	remaining: 197ms
62:	learn: 1196.8825844	total: 328ms	remaining: 193ms
63:	learn: 1196.8660078	total: 330ms	remaining: 186ms
64:	learn: 1196.8613810	total: 332ms	remaining: 179ms
65:	learn: 1196.8520780	total: 335ms	remaining: 173ms
66:	learn: 1196.6464287	total: 341ms	remaining: 168ms
67:	learn: 1194.8883102	total: 348ms	remaining: 164ms
68:	learn: 1193.6657331	total: 354ms	remaining: 159ms
69:	learn: 1193.6656938	total: 355ms	remaining: 152ms
70:	learn: 1193.6632076	total: 358ms	remaining: 146ms
71:	learn: 1191.2993151	total: 364ms	remaining: 142ms
72:	learn: 1190.0749857	total: 367ms	remaining: 136ms
73:	learn: 1190.0235635	total: 369ms	remaining: 130ms
74:	learn: 1190.0098521	total: 371ms	remaining: 124ms
75:	learn: 1190.0065633	total: 376ms	remaining: 119ms
76:	learn: 1189.9727720	total: 379ms	remaining: 113ms
77:	learn: 1189.4780219	total: 385ms	remaining: 109ms
78:	learn: 1188.5916212	total: 388ms	remaining: 103ms
79:	learn: 1188.5915997	total: 389ms	remaining: 97.2ms
80:	learn: 1185.6913280	total: 395ms	remaining: 92.8ms
81:	learn: 1185.6912938	total: 396ms	remaining: 87ms
82:	learn: 1184.7938991	total: 400ms	remaining: 81.9ms
83:	learn: 1184.7938664	total: 401ms	remaining: 76.4ms
84:	learn: 1182.9070117	total: 407ms	remaining: 71.9ms
85:	learn: 1182.8529095	total: 410ms	remaining: 66.7ms
86:	learn: 1180.6392866	total: 413ms	remaining: 61.7ms
87:	learn: 1180.6350555	total: 415ms	remaining: 56.6ms
88:	learn: 1180.6350225	total: 416ms	remaining: 51.4ms
89:	learn: 1177.2868095	total: 422ms	remaining: 46.9ms
90:	learn: 1176.2760123	total: 429ms	remaining: 42.4ms
91:	learn: 1175.3777787	total: 431ms	remaining: 37.5ms
92:	learn: 1174.1616457	total: 434ms	remaining: 32.7ms
93:	learn: 1170.8024086	total: 440ms	remaining: 28.1ms
94:	learn: 1168.2429672	total: 446ms	remaining: 23.5ms
95:	learn: 1164.9900153	total: 452ms	remaining: 18.8ms
96:	learn: 1163.0272725	total: 458ms	remaining: 14.2ms
97:	learn: 1163.0153205	total: 462ms	remaining: 9.42ms
98:	learn: 1161.8378803	total: 468ms	remaining: 4.73ms
99:	learn: 1161.8165049	total: 471ms	remaining: 0us

In [10]:
test = pd.read_csv("../data/InsNova_data_2023_vh.csv")

In [11]:
test["high_education_ind"] = test["high_education_ind"].astype("int64")
test["high_education_ind"] = test["high_education_ind"].astype("category")

In [12]:
for col in categorical_features:
    test[col] = test[col].astype("category")

In [13]:
x_test = test.drop(columns=["id"])

In [20]:
# Make predictions on the test set
y_pred = model.predict(x_test)
test["Predict"] = y_pred

In [22]:
submission = test[["id", "Predict"]]
submission

          id     Predict
0          1   91.648187
1          2  139.974654
2          3   57.632904
3          4  212.747809
4          5  123.827861
...      ...         ...
22615  22616  117.358864
22616  22617  101.490830
22617  22618  180.502482
22618  22619  185.520659
22619  22620  239.010933

[22620 rows x 2 columns]

In [23]:
submission.to_csv("../output/catboost_submission.csv", index=False)